<p>
  <label for='force_onelogin'> <%= l(:field_onelogin_auth) %> </label>
  <%= hidden_field_tag 'user[onelogin_auth]', 0 %>
  <%= check_box_tag 'user[onelogin_auth]', '1' , @user.onelogin_auth %>
</p>
